data/sounds/*.mp3
data/sounds/*.wav
.DS_Store
__pycache__/*.pyc
tests/__pycache__/*.pyc
uploads/recording.wav
static/plots/recording_f0_plot.png
.python-version
src/pitch_detector/tests/__pycache__/*.pyc
src/pitch_detector/__pycache__/*.pyc
